section{
  margin-left: 250px;
  transition: all .5s;
  padding: 15px;

}

.main-page{
  padding-top: 10vh;
  height: 100vh;
}

.container{
margin-top: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: center;

}

.container p{


}

.cv-date{
margin-top: 20px;
  white-space: nowrap;
  color: #bd5d38;

}
